<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>表格</title>
</head>
<body>


    <h1 align="center">进货单</h1>
    <table width="400" border="1" style="margin-left: auto;margin-right: auto;">
        <tr>
            <td>部门</td>
            <td>货号</td>
            <td>货名</td>
            <td>数量</td>
            <td>产地</td>
        </tr>
        <tr>
            <td rowspan="3" width="50" align="center">超市</td>
            <td width="50" align="center">sm1101</td>
            <td width="50" align="center">白糖</td>
            <td width="50" align="center">180</td>
            <td width="50" align="center">南宁</td>
        </tr>
        <tr>
            <td width="50" align="center">sm1107</td>
            <td width="50" align="center">牙膏</td>
            <td width="50" align="center">90</td>
            <td width="50" align="center">天津</td>
        </tr>
        <tr>
            <td width="50" align="center">sm1122</td>
            <td width="50" align="center">保温杯</td>
            <td width="50" align="center">83</td>
            <td width="50" align="center">临忻</td>
        </tr>
        <tr>
            <td width="50" align="center">家电部</td>
            <td width="50" align="center">fe-5201</td>
            <td width="50" align="center">液晶电视</td>
            <td width="50" align="center">82</td>
            <td width="50" align="center">青岛</td>
        </tr>
    </table>
</body>
</html>