<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品购买</title>
</head>
<body>
<div style="margin-left: auto;margin-right: auto;width: fit-content;margin-top: 30px">
    <form method="post" action="">
        <span style="text-align: center;background-color: #dcdadc;width: auto">购货订单</span><br/>
        <label style="width: 10px">姓名：</label>
        <input type="text" id="name"><br/>
        <label>电话：</label>
        <input type="text" id="phone"><br/>
        <label>商品：</label>
        <select id="type" name="type">
            <option value="10">苹果: 10r /kg</option>
            <option value="5">香蕉: 5r /kg</option>
            <option value="20">葡萄: 20r /kg</option>
        </select><br/>
        <label>数量：</label>
        <input type="text" id="num"><br/>
        <label>金额：</label>
        <input type="text" id="sum"><br/>
        <input type="button" value="提交" id="submit">
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/xmlWork.js}"></script>
</body>
</html>